
 /* --------------------------------------------------
    Page Structure
 -------------------------------------------------- */
##header {
  background-position: center top;
  background-repeat: no-repeat;
  background-color: black;
  padding: 60px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#content {
  /* 2. Content wrapper */
}
#footer {
  /* 3. Footer wrapper */
}


/****************** BACKGROUND YO!************************/
/*** Background images  ***/


#header .blue {
  background-image: url('../img/backgrounds/background.png');
  background-size: 1400px 492px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #header .blue {
    background-image: url('../img/backgrounds/background.png');
    background-size: 1400px 492px;
   
  }

/*  Other elements   */
a {
  color: #2f9fe6;
}
#header {
  color: #addaf1;
}
#header .page-title,
#header p,
#header a {
  color: #ffffff;
}
#header h1,
#header h2,
#header h3,
#header h4,
#header h5 {
  margin: 0;
}
.features .sub-title {
  color: #2f9fe6;
}
.signup-form .btn,
.medias li .btn {
  background: #2f9fe6;
  color: #ffffff;
}
.signup-form .btn:hover,
.medias li .btn:hover {
  background: #1885ca;
}
.btn-primary {
  background: #2f9fe6;
  color: blue;
}
.btn-primary:hover {
  background: #1885ca;
}
#schemes .backgrounds a.active {
  border-color: #2f9fe6;
}

/*-------------------------------------------------
        Page Elements
 -------------------------------------------------*/


/*--------------------------------------------------
      Responsiveness/media queries
 -------------------------------------------------*/
@media (max-width: 979px) {
  /* Navbar Collapsed (mobile) */
}
@media (min-width: 980px) {
  /* Navbar Expanded (desktop) */
}
@media (min-width: 1200px) {
  /* Responsive: Large desktop and up (wide) */
}
@media (max-width: 979px) {
  /* Responsive: Mobile to desktop (common for all narrow devices) */
}
@media (min-width: 768px) and (max-width: 979px) {
  /* Responsive: Tablet to desktop (normal) */
}
@media (max-width: 767px) {
  /* Responsive: Landscape phone to desktop/tablet (narrow) */
}
@media (max-width: 480px) {
  /* Responsive: Up to Landscape phone (mobile) */
}
/*--------------------------------------------------
     5. Share buttons
 -------------------------------------------------*/

 #share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

